* {
  margin: 0;
  padding: 0;
}

.ans-box {
  position: absolute;
  margin:0;
  padding: 0;
  width: 50vw;
  height: 25vh;
  color: #000;
  text-align: center;
  font-size: 2em;
}

.center-container {
  position: relative;
  height: auto;
}

.ans-box:hover{
  opacity: 0.7;
}

.ans-box:active{
  opacity: 1;
}

#timeUpModal > *, #answerUpModal > * {
  color: black;
}

#ans1 {
  background-color: #a33;
}

#ans2 {
  background-color: #cf3;
  margin-left: 50vw;
}

#ans3 {
  background-color: #33a;
  margin-top: 25vh;
}

#ans4 {
  background-color: #3a3;
  margin-top: 25vh;
  margin-left: 50vw;
}

#question {
  position: absolute;
  text-align: center;
  font-size: 3em;
  margin-top: 7.5vh;
  width: 95vw;
  height: 40vh;
}

#question-no, #timer {
  position: absolute;
  text-align: left;
  font-size: 2em;
  top: 0px;
}

#question-no {
  left: 5px;
}

#timer {
  right: 5px;
}

body {
  background-color: #070764;
  color: #24a6f8;
}

#ans-container {
  position: absolute;
  margin-top: 50vh;
  width: 100vw;
  z-index: 1;
  height: 50vh;
  background-color: #000;
}

#version-number{
  position: absolute;
  text-align: center;
  z-index: 2;
  bottom: 0px;
  width: 100vw;
  color: #fff;
  display: none;
}
/*Media Queries*/

/*Larger Phone/Small Tablet Size*/
@media (min-width: 768px) and (max-width: 992px) {
  #question {
    font-size: 4em;
  }

  #question-no, #timer {
    font-size: 2em;
  }

  #version-number {
    display: inline;
    font-size: 1em;
  }
}

/*Laptop/iPad Size*/
@media (min-width: 992px) and (max-width: 1200px) {

  #question {
    font-size: 5em;
  }

  #question-no, #timer {
    font-size: 3em;
  }

  #version-number {
    display: inline;
    font-size: 1.25em;
  }
}

/*Desktop Size*/
@media (min-width: 1200px) {

  #question {
    font-size: 6em;
  }

  #question-no, #timer {
    font-size: 4em;
  }

  #version-no {
    display: inline;
    font-size: 1.5em;
  }
}
