#container  > * {
  margin: 0 auto;
  width: 50%;
}

#username {
  margin-top: 15vh;
}

#login > input, #signUp {
  margin-top: 5vh;
  border: none;
  border-radius: 40px;
  width: 50vw;
  height:10vh;
  text-align: center;
}

#login > input {
  font-size: 5vh;
}

#signUp {
  background-color: #F34605;
  color: #070764;
  font-size: 4vh;
}

/* Stops blue outline onclick inputs.. Bootstrap will make your life much much easier */
*:focus {
    outline: none;
}
