/*
F34605 - Deep Orange
F37402 - Orange
F2B809 - Yellow
070764 - Deep Blue
24A6F8 - Light Blue
*/


body, .jumbotron, .container {
  background-color: #070764;
  color: #24a6f8;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  text-align: center;
}

#top-container {
  position: fixed;
  background-color: #24A6F8;
  height: 20vh;
  width: 100vw;
  top: 0;
}

#logo {
  display: block;
  height: 20vh;
  width: auto;
  margin: 0 auto;
}

.wrapper {
  min-height: 100%;
  height: 100%;
  margin: 0 auto -100px; /* the bottom margin is the negative value of the footer's height */
}

#logo:hover {
  cursor: pointer;
}

#main-page-container {
  position: relative;
  top: 20vh;
  height: 80vh;
}

#version-number {
  position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
}
