/*
F34605 - Deep Orange
F37402 - Orange
F2B809 - Yellow
070764 - Deep Blue
24A6F8 - Light Blue
*/

body, .jumbotron, .container {
  background-color: #070764;
  color: #24a6f8;
}

#top-container {
  position: fixed;
  background-color: #24A6F8;
  height: 20vh;
  width: 100vw;
  top: 0;
}

#logo {
  display: block;
  height: 20vh;
  width: auto;
  margin: 0 auto;
}

#logo:hover {
  cursor: pointer;
}

#main-page-container {
  position: relative;
  top: 20vh;
  height: 80vh;
}

#version-number {
  position: fixed;
  bottom: 0px;
  width: 100vw;
}
