<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <link rel="stylesheet" type="text/css" href="../../../public/css/comingSoon.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <title>Coming Soon!</title>
      <link rel="icon"
      type="image/png"
      href="../../assets/favicon.ico">
    </head>
    <body>
      <img src="../../assets/noBrainer.png" id="noBrainer" alt="logo" onclick="location.href='about.html'"/>
      <div class="color-box" id="yellow"></div>
      <div class="color-box" id="orange"></div>
      <div class="color-box" id="deep-orange"></div>
      <div id="coming-soon">
        <marquee behavior=scroll direction="left" scrollamount="10">COMING SOON</marquee>
      </div>
    </body>
</html>
