<!doctype html>
  <head>
    <title>NoBrainer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="assets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/theme.css">
    <link rel="stylesheet" type="text/css" href="assets/index.css">
    <link rel="icon" href="assets/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon"/>
  </head>
  <body>
    <div class="container" id="top-container">
      <img src="assets/noBrainer.png" alt="Logo" onclick=parent.location="index.html" id="logo"/>
    </div>
    <div class="jumbotron jumbotron-fluid text-center" id="main-page-container">
      <div class="container container-fluid" id=id="main-page-container">
        <form>
          <input id="pin-entry" class="mt-4" type="text" placeholder="0000">
        </form>
        <button class="mt-4" id="submit">Submit</button>
        <p class="mt-4" id="sign-in">Creating/Created a Quiz? Sign in HERE!</p>
      </div>
      <div class="contaier container-fluid text-center">
        <p id="version-number">Version 0.0.Alpha.0.1</p>
      </div>
    </div>
    <!--External Scripts-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!--End External Scripts-->
  </body>
</html>
