<!doctype html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="../../../public/css/theme.css">
  <link rel="stylesheet" type="text/css" href="../../../public/css/login.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="icon"
  type="image/png"
  href="assets/favicon.png">
  <title>Login</title>
</head>
<body>
  <div id="top-container">
    <img src="../../assets/noBrainer.png" id="noBrainer" alt="logo" onclick="location.href='about.html'"/>
  </div>
  <div id='container'>
    <table>
      <tr>
        <td>
          <textarea placeholder="username" id="username"></textarea>
        </td>
      </tr>
      <tr>
        <td>
          <textarea placeholder="password" id="password"></textarea>
        </td>
      </tr>
      <tr>
        <td>
          <button onclick="location.href='signUp.html'" id="signUp">Don't Have an Account? Sign Up Here!</button>
        </td>
      </tr>
    </table>
  </div>
</body>
</html>
